@font-face {
  font-family: Sweet;
  src: url(../font/Sweet\ Lemonade\ Demo.ttf);
}
@font-face {
  font-family: harryPotter;
  src: url(../font/HARRYP__.TTF);
}
#harryPotterTitle{
	font-family: harryPotter;
}

#video{		
    border: solid 15px black;
    /*border-radius: 20px;*/
		border-image: url(../img/border.png) 25 stretch;
		
}
#videos{
	background-image: url(../img/tigre.png), url(../img/zambia_wild.jpg);
	background-size: 20% , 100% auto;
	background-repeat: no-repeat;
	background-position: right, center;

	animation-name: videos;
	animation-duration: 5s;
}
@keyframes videos {
	from {
		background-position: left, center;
	}	
  to {
		background-position: right, center;
	}
}

#videos h1{
	font-family: Sweet;
	text-shadow: 2px 3px 2px white;

}
#videos button{
	transition: 2s;
}
#videos button:hover i{
	color: rgb(2, 22, 136);
	text-shadow: 0px 0px 10px rgb(103, 123, 236);
}

.title{
	transition: transform 2s;
}

.title:hover{
	transform: scale(2.5) rotate(360deg);
}
.write-text{
	color: white;
	font-size: 2rem;
}
.box-info{
	border-radius: 15px 15px;
	background: black;
	display: inline-block;
	margin: 5px;
}

@media screen and (max-width: 870px) {
  #videos {
    background-size: 20% , 100% 100%;
  }
#video{
	width: 90%;
	
}  
}

@media (min-width:992px){
	#mainNav{
		background-color: rgba(0,100,200,0.5);
	}
	#mainNav.navbar-shrink{
		background-color: transparent;
		background-image: linear-gradient(to bottom right, rgba(180, 56, 56, 0.486), rgba(255, 255, 0, 0.5));
		background-image: radial-gradient(rgba(180, 56, 56, 0.486) 2%, rgba(255, 255, 0, 0.5) 95%,transparent);
}
}

#audios{
	background-image: url('../img/sol.png'), linear-gradient(to bottom right, rgba(235, 84, 84, 0.671), rgba(255, 255, 0, 0.418));
	background-size: 10%, auto;
	background-repeat: no-repeat;
	animation-name: audios;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
@keyframes audios {
	from {
		background-position: left, center;
	}	
  to {
		background-position: right, center;
	}
}
#audios h1{
	font-family: harryPotter;
}

#map {
        height: 500px;
        width: 100%;
       }

.paddingVer{
	padding: 5px;
	margin: 5px;
}