@font-face {
  font-family: Sweet;
  src: url(../font/Sweet\ Lemonade\ Demo.ttf);
}
@font-face {
  font-family: harryPotter;
  src: url(../font/HARRYP__.TTF);
}
#harryPotterTitle{
	font-family: harryPotter;
}

#video{		
    border: solid 15px black;
    /*border-radius: 20px;*/
		border-image: url(../img/border.png) 25 stretch;
		
}
#videos{
	background-image: url(../img/tigre.png), url(../img/zambia_wild.jpg);
	background-size: 20% , 100% auto;
	background-repeat: no-repeat;
	background-position: right, center;
	padding-top: 3rem;
	padding-bottom: 3rem; 

	animation-name: videos;
	animation-duration: 5s;
}
@keyframes videos {
	from {
		background-position: left, center;
	}	
  to {
		background-position: right, center;
	}
}

#videos h1{
	font-family: Sweet;
	text-shadow: 2px 3px 2px white;

}
#videos button{
	transition: 2s;
}
#videos button:hover i{
	color: rgb(2, 22, 136);
	text-shadow: 0px 0px 10px rgb(103, 123, 236);
}

.title{
	transition: transform 2s;
}

.title:hover{
	transform: scale(2.5) rotate(360deg);
}
.write-text{
	color: white;
	font-size: 2rem;
}
.box-info{
	border-radius: 15px 15px;
	background: black;
	display: inline-block;
	margin: 5px;
}

@media screen and (max-width: 870px) {
  #videos {
    background-size: 20% , 100% 100%;
  }
#video{
	width: 90%;
	
}  
}

@media (min-width:992px){
	#mainNav{
		background-color: rgba(0,100,200,0.5);
	}
	#mainNav.navbar-shrink{
		background-color: transparent;
		background-image: linear-gradient(to bottom right, rgba(180, 56, 56, 0.8), rgba(255, 255, 0, 0.8));
		background-image: radial-gradient(#FFDEB0 2%, #00EB14 95%,transparent);
}
}

#audios{
	background-image: url('../img/sol.png'), linear-gradient(to bottom right, rgba(235, 84, 84, 0.671), rgba(65, 228, 32, 0.568));
	background-size: 10%, auto;
	background-repeat: no-repeat;
	animation-name: audios;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	padding: 25px;
}
@keyframes audios {
	from {
		background-position: left, center;
	}	
  to {
		background-position: right, center;
	}
}
#audios h1{
	font-family: harryPotter;
}

#map {
        height: 500px;
        width: 100%;
       }

.paddingVer{
	padding: 5px;
	margin: 5px;
}
.backgroundText{
	background-color: #cccccc;
	border-radius: 10px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.backgroundText h1{
	text-align: center;
}

@media screen and (min-width: 992px) {
	#mainNav.navbar-shrink .nav-link.active{
		color: rgb(98, 69, 226);
		border-bottom: 0.50rem solid rgb(98, 69, 226);
	}

	#mainNav.navbar-shrink .nav-link:hover{
		color: rgb(98, 69, 226);
	}
	.projects-section .featured-text{
		border-left: none;
	}
	.projects-section .project-text hr{
		border-color: #fff;
	}
	.projects-section .project-text{
		padding-top: 0px;
	}
}

.projects-section {
	padding: 4rem 0;
}

.btn-primary {
	background-color: rgb(98, 69, 226);
}
.btn-primary:hover {
	background-color: rgb(121, 99, 219);
}